.col-md-12
  .col-md-6.col-md-offset-3
    .jumbotron
      .text-center
        %strong
          %h3
            %u
              Edit Clinic Information
        = link_to "Cancel and Return to Clinic", clinic_path(@clinic)

    =render 'form'