This is a major hospital tracking system.  Designed and built by Malachi Gray during the winter/spring 2015 backend engineering class at 
= link_to "The Iron Yard", "http://www.theironyard.com",:target => "_blank"
in Charleston, SC.