%div.col-md-5.col-md-offset-1
  %img{ src: "/assets/hospital.jpg", class: "img-responsive", alt: "Responsive image"}
%br
%div{class: "text-left"}
  %span{ class: "glyphicon glyphicon-lock"}
  = link_to "Go to Clinics Information", clinics_path
  %br
  %span{ class: "glyphicon glyphicon-asterisk"}
  = link_to "Go to Medication Information", medications_path
  %br

